$primary-color: #003da6;
$primary-container: #0052d9;
$primary-fixed: #dbe1ff;
$primary-fixed-dim: #b4c5ff;
$on-primary: #ffffff;
$on-primary-container: #cbd6ff;

$secondary-color: #4a5c94;
$secondary-container: #adbffd;
$secondary-fixed: #dbe1ff;
$secondary-fixed-dim: #b4c5ff;
$on-secondary: #ffffff;
$on-secondary-container: #3a4c83;

$tertiary-color: #822600;
$tertiary-container: #aa3500;
$tertiary-fixed: #ffdbd0;
$tertiary-fixed-dim: #ffb59c;
$on-tertiary: #ffffff;
$on-tertiary-container: #ffccbc;

$background: #faf8ff;
$surface: #faf8ff;
$surface-dim: #d9d9e4;
$surface-bright: #faf8ff;
$surface-container-lowest: #ffffff;
$surface-container-low: #f3f3fe;
$surface-container: #ededf8;
$surface-container-high: #e7e7f3;
$surface-container-highest: #e1e2ed;

$on-background: #191b23;
$on-surface: #191b23;
$on-surface-variant: #434654;

$outline: #737686;
$outline-variant: #c3c6d7;

$error: #ba1a1a;
$error-container: #ffdad6;
$on-error: #ffffff;
$on-error-container: #93000a;

$headline-font: 'Manrope', sans-serif;
$body-font: 'Inter', sans-serif;
$label-font: 'Inter', sans-serif;